  {{#with viaje}}
  <form method="POST" action="/viaje/modify/{{id}}">
      <div class="col 8">
          <label>
              <input name="destino" value="{{destino}}" class="form-control" type="text">
          </label>
          <label>
              <input name="precio" value="{{precio}}" class="form-control" type="text">
          </label>
              <input name="descuento" value="{{descuento}}" class="form-control" type="text">
          <label>
              <input name="fechaSalida" type="date" value="{{fechaSalida}}" class="form-control" type="text">
          </label>
          <label>
              <input name="fechaVuelta" type="date" value="{{fechaVuelta}}" class="form-control" type="text">
          </label>

          <button type="submit">Modifica</button>

      </div>

  </form>
  {{/with}}
      {{#each imagenes}}
      <div class="col 2">
          <div class="row">
          <form method="POST" action="/viaje/borra/imagen/{{id}}">   
          <img alt="..." src={{nombre}} style="height: 100px; width:100px;" class="img-thumbnail">
          <button type="submit" class="eliminar">Eliminar</button>
          </form>
          </div>
          
      </div>
      
      {{/each}}
 