<ul class="list-group list-group-flush"></ul>

        {{#each usuarios}}
    
        <form method="POST" action="/admin/users/borrar/{{id}}">
             <li class="list-group-item">
             <h1>{{nombre}}</h1>
             <p>{{email}}</p>
             <button type="submit" >Elimina</button>
        </form>

             <form method="POST" action='/admin/convert/{{id}}'>       
             <input type="checkbox" onchange="submit()" name="checkAdmin"
                  {{#if administrador}}
                      checked
                  {{/if}}
                      />Admin
             </form>  

            <form method="POST" action='/admin/activa/user/{{id}}'>       
                <input type="checkbox" onchange="submit()" name="active"
                    {{#if activate}}
                        checked
                     {{/if}}
                      />Activo  


            </form> 
         

        {{/each}}



</ul>
<a href="">Salir...</a>