 

{{#with viaje}}

    </div>   
      <h5 class="card-title">{{destino}}</h5>
      <p class="card-text">Salimos el {{fechaSalida}} y volvemos {{fechaVuelta}} </p>
      <p class="card-text">Precio {{precio}} con {{descuento}}% de descuento</p>
    </div>

  <div class="carousel-one carousel">
  <span class="prev"><</span>
  <div class="container">
    <div class="wrapper">
       {{#each viaje.fotos}}
      <div class="content"><div> <img src="/uploads/{{images}}"></div>
       {{/each}}
       </div>
     </div>
    </div>
  </div>
  <span class="next">></span>
</div>
  {{/with}}
  {{#if admin}}
    <div>
       <form method="POST" action="/viaje/edita/{{viaje.id}}">
         <button type="submit" name="borra" value="true">Borrar Viaje</button>
         <button type="submit" name="edita" value="true">Edita Viaje</button>
       </form> 
    </div>
 {{/if}}
  {{#if user}}
   <form method="GET" action="/users/anade/{{viaje.id}}">
     <button type="submit">Reserva</button>
   </form>
   
  {{/if}}



 
 
 




