{{> cabeceraPartial}}

<div class="container-fluid">
    <div class="row">

        {{#each viajes}}
      
     <div class= "col-4 col-xs-12">

            <a href="/detalle/{{id}}">detalles... </a>
             <div class="card"  >
                   <img src="{{imagen}}" class=" card-img-top  img-fluid" alt="...">
                      <div class="card-body">
                       <h3>{{destino}}</h3>
                     <p class="card-text">Precio : {{precio}} $ </br>  Fecha de Salida : {{fechaSalida}}</p>
                      {{#if descuento}}

                        <p class="card-text">Ahora con un {{descuento}} % de descuento </p>  

                     {{/if}}
                </div>
           </div>
 


    </div>
      </a>
       {{/each}}

    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="/{{paginaAnterior}}" {{#if primeraPagina}}style="display:none"{{/if}}>anterior</a>
      <a href="/{{paginaSiguiente}}"{{#if ultimaPagina}}style="display:none"{{/if}}>siguiente</a>
    {{!-- <form method="GET" action="/"{{pagina}}>
        <button type="submit" {{#if pagina}} {{else}} disabled {{/if}} ><<</button>
    </form>
    <form method="GET" action="/siguiente">
        <button type="submit" {{#if numerototal}} disabled {{/if}}>>></button>
    </form> --}}


    </nav>
</div>

